.button {
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  display: block;
}

.button--program {
  color: #ffffff;
  background-color: #68b738;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgb(255, 255, 255, 0.7);
  }
}

.button--order {
  color: #ffffff;
  background-color: #68b738;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgb(255, 255, 255, 0.7);
  }
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.button--subscribe {
  color: #ffffff;
  background-color: #68b738;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgb(255, 255, 255, 0.7);
  }
}
