.example {
  min-width: 320px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 57%, #f2f2f2 57%);
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(#ffffff 22%, #f2f2f2 22%);

    padding: 0;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 40px;
  margin: 0 auto;
  max-width: 320px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 45px 30px 105px;
    margin: 0;
    align-items: center;
  }


  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0;
    grid-template-columns: 436px 560px;
    gap: 224px;
    align-items: last baseline;
    padding: 0;
    display: grid;
  }
}


.example__story-title {
  text-align: left;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }
}


.example__story-description {

  color: #444444;
  text-align: left;
  padding: 38px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 60px 0 55px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 146px 0 69px;
  }
}

.example__information {
  @media (min-width: $tablet-width) {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 99px;
  }

  @media (min-width: $desktop-width) {

    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 60px;
    padding-bottom: 74px;
  }
}

.example__list {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  margin: 0;


  @media (min-width: $tablet-width) {
    min-width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  position: relative;


  @media (min-width: $tablet-width) {
    min-width: 162px;

    flex-direction: column;
    min-height: 72px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.example__description {
  font-family: $content-font;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  margin: 0;
}

.example__result {
  font-family: $title-font;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}


.weight-loss {
  font-family: $content-font;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__item dt {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-family: $title-font;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item dd {
  background-color: #eaeaea;
  margin: 0;
  padding: 0 8px;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 80px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 145px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    background-color: #f2f2f2;
  }
}

.example__cost {
  font-family: $title-font;
  text-align: center;
  text-transform: uppercase;
  padding-top: 31px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 11px 0 17px;
    max-width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 436px;
  }
}

.example__cost-sum {
  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }
}
