.hero {
  color: #ffffff;
  background-color: #68b738;
  background-image: image-set("../../images/hungry-cat-mobile@1x.jpg" 1x, "../../images/hungry-cat-mobile@2x.jpg" 2x);
  background-repeat: no-repeat;
  background-size: 320px, 302px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    color: #000000;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../../images/hungry-cat-desktop@1x.jpg" 1x, "../../images/hungry-cat-desktop@2x.jpg" 2x);
    background-repeat: no-repeat;
    background-size: 720px, 694px;
    color: #000000;
  }
}


.hero__description {
  font-family: $title-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__button {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
