.hero {
  color: #ffffff;
  width: 320px;

  @media (max-width: $mobile-width-only) {
    background-color: #62a53a;
    padding: 27px 35px 150px;
    margin: 0 0 180px;
    background-image: image-set("../images/hungry-cat-mobile@1x.webp" 1x, "../images/hungry-cat-mobile@2x.webp" 2x, "../images/hungry-cat-mobile@1x.jpg" 1x, "../images/hungry-cat-mobile@2x.jpg" 2x);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 320px, 302px;
    min-height: 300px;
    min-width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    color: #000000;
    background-image: none;
    padding: 0 0 150px;
    margin: 0 0 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;

    color: #000000;
    min-height: 580px;


    &::after {
      content: "";
      background-image: image-set("../images/hungry-cat-desktop@1x.webp" 1x, "../images/hungry-cat-desktop@2x.webp" 2x, "../images/hungry-cat-desktop@1x.jpg" 1x, "../images/hungry-cat-desktop@2x.jpg" 2x), linear-gradient(#62a53a, #62a53a);
      background-repeat: no-repeat;
      position: absolute;
      height: 694px;
      width: 50%;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  @media (min-width: $tablet-width) {
    padding-top: 65px;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 768px;
  }

  @media (min-width: $desktop-width) {

    width: 1220px;
    min-height: 580px;
    padding-top: 110px;
    padding-left: 83px;
  }
}

.hero__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 21px 120px;
    align-items: flex-start;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-items: flex-start;
    max-width: 768px;
  }
}


.hero__header {
  margin: 0;
  text-align: center;
  position: relative;
  max-width: 280px;


  @media (min-width: $tablet-width) {
    text-align: left;
    max-width: 440px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.hero__description {
  font-family: $title-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  max-width: 280px;
  margin: 0;


  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 1em;
    max-width: 440px;
    margin: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 414px;
    padding: 0;
    margin-bottom: 50px;
  }
}


.hero__button {
  min-width: 280px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 10px 10px;
  position: absolute;
  bottom: -340px;


  @media (min-width: $tablet-width) {
    min-width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
    position: static;
    padding: 13px 10px 10px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 440px;
    margin-left: 0;
  }
}

.hero__image {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    bottom: -300px;
    left: 50%;
    translate: (-50% 0);
  }


  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -505px;
    left: 50%;
    translate: (-50% 0);
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    left: 730px;
    margin: 0;
  }
}
