.hero {
  width: 320px;
  margin: 0 auto;
  color: #ffffff;


  @media (min-width: $tablet-width) {
    width: 768px;
    color: #000000;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;

    color: #000000;
    min-height: 580px;


    &::after {
      content: "";
      background-image: image-set("../images/hungry-cat-desktop@1x.webp" 1x, "../images/hungry-cat-desktop@2x.webp" 2x, "../images/hungry-cat-desktop@1x.jpg" 1x, "../images/hungry-cat-desktop@2x.jpg" 2x), linear-gradient(#62a53a, #62a53a);
      background-repeat: no-repeat;
      position: absolute;
      height: 694px;
      width: 50%;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  @media (min-width: $tablet-width) {
    padding-top: 65px;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 768px;
  }

  @media (min-width: $desktop-width) {

    width: 919px;
    min-height: 580px;
    padding-left: 190px;
    padding-top: 110px;
  }
}

.hero__content-wrapper {
  @media (max-width: $mobile-width-only) {
    background-color: #62a53a;
    max-width: 320px;
    padding: 27px 35px 150px;
    margin: 0 0 180px;
    background-image: image-set("../images/hungry-cat-mobile@1x.webp" 1x, "../images/hungry-cat-mobile@2x.webp" 2x, "../images/hungry-cat-mobile@1x.jpg" 1x, "../images/hungry-cat-mobile@2x.jpg" 2x);
    background-repeat: no-repeat;
    background-size: 320px, 302px;
    min-height: 300px;
  }
}


.hero__header {
  text-align: center;
  position: relative;


  @media (min-width: $tablet-width) {
    text-align: left;
    max-width: 440px;
    margin-bottom: 40px;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.hero__description {
  font-family: $title-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0 0;


  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 1em;
    padding: 0 0 21px 120px;
    max-width: 510px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 414px;
    padding: 0;
    margin-bottom: 30px;
  }
}


.hero__button {
  width: 280px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 10px 10px;
  position: absolute;
  bottom: 0;
  left: 20px;


  @media (min-width: $tablet-width) {
    min-width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
    position: static;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    max-width: 440px;
    margin-left: 0;
  }
}

.hero__image {
  @media (max-width: $mobile-width-only) {

    position: absolute;
    left: 20px;
    bottom: 42px;
  }


  @media (min-width: $tablet-width) {
    position: static;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    left: 560px;
    margin: 0;
  }
}
