
.location {
  position: relative;
  min-width: 320px;
}

.location--catalog {
  background-color: #f2f2f2;
}


.location iframe {
  margin: 0 auto;
  background-image:
    image-set(
      "../images/location-map-mobile@1x.webp" 1x,
      "../images/location-map-mobile@2x.webp" 2x,
      "../images/location-map-mobile@1x.jpg" 1x,
      "../images/location-map-mobile@2x.jpg" 2x
    );

  background-size: 320px 362px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 362px;
  border: none;
  display: block;
  max-width: 320px;
  max-height: 362px;


  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        "../images/location-map-tablet@1x.webp" 1x,
        "../images/location-map-tablet@2x.webp" 2x,
        "../images/location-map-tablet@1x.jpg" 1x,
        "../images/location-map-tablet@2x.jpg" 2x
      );
    background-size: 768px 400px;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 400px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set("../images/location-map-desktop@1x.webp" 1x,
      "../images/location-map-desktop@2x.webp" 2x,
      "../images/location-map-desktop@1x.jpg" 1x,
      "../images/location-map-desktop@2x.jpg" 2x
    );
    background-size: 1440px 400px;
  }
}


.location__wrapper {
  padding: 26px 20px;
  width: 320px;
  margin: 0 auto;
  position: relative;


  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 200px;
    padding: 60px 70px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    max-width: 565px;
    height: 199px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    padding: 60px 78px 60px 80px;
    z-index: 1;
  }
}

.location__map-wrapper {
  position: relative;

  &::after {
    content:
      image-set("../images/map-pin-mobile@1x.webp" 1x,
      "../images/map-pin-mobile@2x.webp" 2x,
      "../images/map-pin-mobile@1x.png" 1x,
      "../images/map-pin-mobile@2x.png" 2x);
    position: absolute;
    width: 56px;
    height: 52px;
    top: 135px;
    left: 50vw;
    translate: (-50% 0);

    @media (min-width: $tablet-width) {
      content:
        image-set("../images/map-pin-tablet@1x.webp" 1x,
        "../images/map-pin-tablet@2x.webp" 2x,
        "../images/map-pin-tablet@1x.png" 1x,
        "../images/map-pin-tablet@2x.png" 2x);
      width: 113px;
      height: 106px;
      top: 145px;
      left: 50vw;
      translate: (-45% 0);
    }

    @media (min-width: $desktop-width) {
      top: 125px;
      left: 67vw;
      translate: (-50% 0);
    }
  }
}

.location__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
