.main-nav__close-button {
  display: none;
}

.main-nav__toggle {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav {
  width: 24px;


  @media (min-width: $tablet-width) {
    min-width: 436px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 476px;
  }
}

.main-nav--opened {
  @media (max-width: $mobile-width-only) {
    .main-nav__open-button {
      display: none;
    }

    .main-nav__close-button {
      display: block;
    }
  }
}

.main-nav--closed {
  @media (max-width: $mobile-width-only) {
    .main-nav__wrapper {
      display: none;
    }

    .main-nav__open-button {
      display: block;
    }

    .main-nav__close-button {
      display: none;
    }
  }
}

.main-nav--nojs {
  @media (max-width: $mobile-width-only) {
    .main-nav__open-button {
      display: none;
    }

    .main-nav__close-button {
      display: none;
    }

    .main-nav {
      position: static;
    }
  }
}

.main-nav__wrapper {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #ffffff;
    min-width: 100%;
    z-index: 1;
  }
}

.main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 15px 33px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-nav__catalog-list {
  color: #111111;
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    position: relative;
    min-height: 66px;
    min-width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #d9d9d9;
      height: 1px;
      min-width: 100%;
    }
  }


  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.main-nav__item--active-index {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #68b738;
      bottom: -8px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #ffffff;
      bottom: -8px;
      left: 0;
    }
  }
}

.main-nav__item--active-catalog {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #68b738;
      bottom: -8px;
      left: 0;
    }
  }
}
