.main-footer {
  background-color: #f2f2f2;
  min-width: 320px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: space-between;
  min-height: 240px;
  align-items: center;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 147px;
    flex-direction: row;
    padding: 30px;
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 66px 110px;
    max-width: 1440px;
  }
}

.main-footer__logo {

  position: relative;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  &::after {
    content: "";
    background-color: #d9d9d9;
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -20px;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__logo-img {
  margin: 0 auto;
}

.main-footer__socials {
  position: relative;


  @media (max-width: $mobile-width-only) {
    min-width: 100%;
  }


  &::after {
    content: "";
    background-color: #d9d9d9;
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -20px;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
