.more-products__header {
  font-family: $title-font;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.more-products__description {
  font-family: $content-font;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
