.plan {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 22px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 56px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
  }
}

.plan__title {
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.plan--lose-weight {
  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 24px;
    left: 20px;

    @media (min-width: $tablet-width) {
      height: 200px;
      width: 200px;
      top: 92px;
      left: 445px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
      width: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#cat-slim-icon");
    background-size: 36px 50px;
    height: 50px;
    width: 36px;
    background-repeat: no-repeat;
    top: 21px;
    left: 26px;

    @media (min-width: $tablet-width) {
      background-size: 140px 194px;
      width: 140px;
      height: 194px;
      top: 81px;
      left: 475px;
    }

    @media (min-width: $desktop-width) {
      background-size: 70px 97px;
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
    }
  }
}

.plan--gain-weight {
  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 23px;
    left: 21px;

    @media (min-width: $tablet-width) {
      height: 200px;
      width: 200px;
      top: 91px;
      left: 445px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
      width: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#cat-pro-icon");
    background-size: 70px 28px;
    height: 28px;
    width: 70px;
    background-repeat: no-repeat;
    top: 34px;
    left: 11px;

    @media (min-width: $tablet-width) {
      background-size: 268px 112px;
      width: 268px;
      height: 112px;
      top: 135px;
      left: 411px;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 56px;
      width: 134px;
      height: 56px;
      top: 67px;
      left: 37px;
    }
  }
}

.plan__description {
  padding-top: 28px;
  padding-bottom: 23px;

  margin: 0;
  position: relative;


  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #d9d9d9;
      height: 1px;
      min-width: 100%;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 0 26px;
  }
}

.plan__link {
  font-family: $title-font;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  padding-right: 35px;
  max-width: fit-content;
  padding-top: 21px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#arrow-icon");
    width: 24px;
    height: 12px;
    top: 50%;
    translate: 0 -50%;
    right: 0;

    @media (max-width: $mobile-width-only) {
      top: 78%;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    background-position: 129px;
  }

  &:active {
    opacity: 0.3;
  }
}
