.slider {
  position: relative;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 515px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 515px;
  }
}


.slider__image-before {
  position: absolute;
  bottom: 0;
  left: 0;

  @media (min-width: $desktop-width) {
    bottom: 10px;
  }
}


.slider__image-after {
  position: absolute;
  bottom: 0;
  right: 0;

  @media (min-width: $desktop-width) {
    bottom: 10px;
  }
}

.slider__button {
  background-color: #666666;
  border: none;
  padding: 0;
  width: 4px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  @media (min-width: $desktop-width) {
    bottom: 10px;
  }

  &:hover {
    background-color: #68b738;

    &.slider__button::before {
      border-color: #68b738;
    }

    &.slider__button::after {
      background-color: #68b738;
    }
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.6;

    &.slider__button::before {
      border-color: #5eaa2f;
      opacity: 0.6;
    }

    &.slider__button::after {
      background-color: #5eaa2f;
      opacity: 0.6;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #666666;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 51%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #666666;
    background-size: 24px 18px;
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-size: 24px 18px;
    width: 24px;
    height: 18px;
    top: 51%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
