.socials__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0 36px;
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.socials__item {
  width: 28px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.socials__icon--youtube {
  &::after {
    content: "";
    position: absolute;
    width: 24;
    height: 19;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#youtube-icon");
    top: 0;
    left: 0;
  }


  &:hover {
    &::after {
      background-color: #68b738;
    }
  }

  &:active {
    &::after {
      background-color: #68b738;
      opacity: 0.3;
    }
  }
}

.socials__icon--vkontakte {
  &::after {
    content: "";
    position: absolute;
    width: 24;
    height: 19;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#vkontakte-icon");
    top: 0;
    left: 0;
  }


  &:hover {
    &::after {
      background-color: #68b738;
    }
  }

  &:active {
    &::after {
      background-color: #68b738;
      opacity: 0.3;
    }
  }
}

.socials__icon--telegram {
  &::after {
    content: "";
    position: absolute;
    width: 24;
    height: 19;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#telegram-icon");
    top: 0;
    left: 0;
  }

  &:hover {
    &::after {
      background-color: #68b738;
    }
  }

  &:active {
    &::after {
      background-color: #68b738;
      opacity: 0.3;
    }
  }
}
