.socials__icon--youtube {
  width: 24;
  height: 19;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#youtube-icon");

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 0.3;
  }
}

.socials__icon--vkontakte {
  width: 24;
  height: 19;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#vkontakte-icon");

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 0.3;
  }
}

.socials__icon--telegram {
  width: 24;
  height: 19;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#telegram-icon");

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 0.3;
  }
}
