
.special-offer {
  display: flex;
  min-width: 320px;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {

    padding: 66px 0 80px;
  }

  @media (min-width: $desktop-width) {
    grid-area: image;
    padding: 0;
  }
}

.special-offer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 20px 20px 42px;
  background-color: #68b738;
  width: 280px;

  height: 290px;
  background-image: image-set("../../images/catalog/cat-in-backpack-mobile@1x.webp" 1x, "../../images/catalog/cat-in-backpack-mobile@2x.webp" 2x, "../../images/catalog/cat-in-backpack-mobile@1x.jpg" 1x, "../../images/catalog/cat-in-backpack-mobile@2x.jpg" 2x);
  background-size: 280px 290px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 202px;
    background-image: image-set("../../images/catalog/cat-in-backpack-tablet@1x.webp" 1x, "../../images/catalog/cat-in-backpack-tablet@2x.webp" 2x, "../../images/catalog/cat-in-backpack-tablet@1x.jpg" 1x, "../../images/catalog/cat-in-backpack-tablet@2x.jpg" 2x);
    background-size: 707px 202px;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: end;
    padding: 0 125px 0 0;
  }

  @media (min-width: $desktop-width) {
    height: 288px;
    background-image: image-set("../../images/catalog/cat-in-backpack-desktop@1x.webp" 1x, "../../images/catalog/cat-in-backpack-desktop@2x.webp" 2x, "../../images/catalog/cat-in-backpack-desktop@1x.jpg" 1x, "../../images/catalog/cat-in-backpack-desktop@2x.jpg" 2x);
    background-size: 245px 288px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px 20px 43px;
    background-color: #68b738;
    width: 245px;
  }
}

.special-offer__description {
  font-family: $content-font;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
  max-width: 161px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#gift-icon");
    background-size: 80px 78px;
    height: 80px;
    width: 78px;
    background-repeat: no-repeat;
    top: -130px;
    left: 40px;
  }

  @media (min-width: $tablet-width) {
    position: static;
    text-align: left;


    &::before {
      top: 57px;
      left: 77px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
