.subscription {
  display: flex;
  min-width: 320px;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0 0 40px;

  @media (min-width: $tablet-width) {
    padding: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 96px;
  }
}

.subscription__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.subscription__title {
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 33px;
  text-transform: none;
  width: fit-content;
  position: relative;
  background: #ffffff;
  text-align: left;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    top: 12px;
    right: 0;
    background: #68b738;
    box-shadow: 100vw 0 0 0 #68b738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    padding: 0 40px;
    background-color: #ffffff;
    box-shadow: 0 0 0 0 #ffffff, -0 0 0 0 #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding: 0;
    box-shadow: 40 0 0 0 #ffffff, -40 0 0 0 #ffffff;

    margin-bottom: 72px;

    &::before {
      top: 17px;
    }
  }
}


.subscription__description {
  font-family: $title-font;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 280px;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    min-width: 708px;
    padding: 0 68px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.subscription__form {
  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 40px;
  }


  @media (min-width: $desktop-width) {
    padding: 0 234px;
    min-width: none;
  }
}
